.resume-header-container {
    display: flex;
    gap: 50px;
    padding: 10px;
    border-radius: 1%;
    transition: all 0.3s ease-in-out;

    @media (max-width: 700px) {
        gap: 10px;
        align-items: center;
    }
}

.resume-header-container ul {
    @media (max-width: 600px) {
        padding-inline-start: 0px;
    }
}

.mobile-date {
    text-align: right;
}

.resume-header-container img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 10%;
}