.header-container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blur-color);
    backdrop-filter: blur(5px);
}

.header-title {
    margin: 3px 30px;
    color: var(--blue);
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
}

.header-title:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header-link-container {
    margin: 3px 20px;
}

.header-link {
    margin-left: 4px;
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
    text-decoration: underline;
    color: var(--secondary);
    ;
}

.header-link:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.header-button {
    max-width: 400px;
}

.mobile-drawer {
    height: 100vh;
    position: fixed;
    width: 70vw;
    top: 0;
    left: -80vw;
    background-color: var(--blur-color);
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    border: 1px solid var(--secondary);
    ;
}

.drawer-open {
    transform: translateX(80vw);
}

.home-button {
    margin-top: 10vh;
}