.header-container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    margin: 3px 20px;
    color: var(--blue);
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
}

.header-title:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header-link-container {
    margin: 3px 20px;
}

.header-link {
    margin-left: 4px;
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
}

.header-link:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.header-button {
    max-width: 400px;
}