.footer-p5-container {
    display: flex;
}

.footer-container {
    position: relative;
}

.footer-info {
    position: absolute;
    padding: 0px 20px;
    bottom: 0px
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}