.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.app-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 60px;
}

.button {
  padding: 10px;
  background-color: #efecc7;
  border-radius: 5px;
  border-width: 1px;
  font-family: 'body';
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}