@font-face {
  font-family: 'header';
  src: url('./assets/fonts/font.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'body';
  src: url('./assets/fonts/body.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'body';
  line-height: 1.5;
  font-weight: 400;
  --blue: rgb(0, 64, 255);
  --black: rgb(0, 0, 0);
  --beige: rgb(240 238 216);
  color: var(--black);
  background: linear-gradient(63deg, rgba(240, 238, 216, 1) 0%, rgba(237, 232, 170, 1) 50%, rgba(240, 238, 216, 1) 100%);
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  overflow-x: hidden;
}

hr {
  width: 100%;
}